.header {
  position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    backdrop-filter: blur(5px);
    /* background-color: rgba(0, 0, 0, 0.35); */
    z-index: 7;
    background-color: #f9f9f9;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 36px;
  letter-spacing: 3px;
  line-height: 1;
  /* color: white; */
  color: black;
}

.header p, .header ul button p{
  margin: 0;
}

.header button {
  background-color: transparent;
}

.header__menu-btn {
  display: none;
  color: black;
}

.header ul {
  display: flex;
  /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0;
    list-style: none;
  margin: 0;
}

.header ul button {
  background-color: transparent;
  border: none;
  color: black;
  /* font-size: 18px; */
}

.header ul button:hover {
  border: none;
  color: #0138b7;
}

.header__input-check:checked ~ .header__nav {
  background-color: red;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 1% 5%;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-btn {
    display: block;
  }
  .header nav {
    display: none;
  }
}


