main {
  /* background-color: #e1eaef; */
  background-color: #f9f9f9;
}
.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  /* background-color: #e9f1f4; */
  /* background-image: url("./assets/bg-new.png"); */
  background-image: url("./assets/bg_white-2.png");
  /* background-size: contain; */
  background-size: cover;
  background-position: top;
}

.landing p {
  max-width: 540px;
  line-height: 1.5;
  margin: 0 0 50px 0;
  color: #646cff;
  /* color: white; */
  font-size: 18px;
}

.landing button {
  width: 200px;
  height: 60px;
  background-color: #0138b7;
  color: white;
  transition: all 0.35s ease-in-out;
}

.landing button:hover {
  background-color: white;
  color: #0138b7;
  border: 2px solid #0138b7;
}

.landing__img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.landing__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}

@media screen and (max-width:1439px) {
  /* .landing {
    background-size: cover;
    background-position: right;
  } */
}

@media screen and (max-width:1023px) {
  .landing__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -35%;
  }
  .landing p {
    max-width: 360px;
  }
}

@media screen and (max-width:767px) {
  .landing {
    background-position: 80% 0;
  }
  .landing p {
    /* color: white; */
    /* max-width: 210px; */
    font-size: 16px;
  }
  .landing__overlay {
    display: block;
  }
}