main {
  background-color: #e1eaef;
}
.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #e9f1f4;
  background-image: url("./assets/land-bg-comb.png");
  background-size: cover;
}

.landing p {
  max-width: 540px;
  line-height: 1.5;
  margin: 0 0 50px 0;
}

.landing button {
  width: 160px;
  height: 60px;
  background-color: #0138b7;
  color: white;
  transition: all 0.35s ease-in-out;
}

.landing button:hover {
  background-color: white;
  color: #0138b7;
  border: 2px solid #0138b7;
}