.header__nav {
  display: none;
}

.header__nav ul {
  padding: 0;
  list-style-type: none;
}

.header__nav li,  .header__nav li button {
  width: 100%;
  background-color: transparent;
}

.header__nav li button {
  /* font-size: 18px; */
  color: black;
}

.header__nav li button p {
  margin: 0;
}

.header__nav li button a {
  color: black;
}

@media screen and (max-width: 767px) {
  .header__nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 65px);
    background-color: #f9f9f9;
    z-index: 7;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    padding: 0 50px;
    font-size: 21px;
  }
}

/* @media screen and (max-width: 500px) {
  .header__nav {
    height: calc(100% - 55px);
  }
} */

